@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');



*{
    margin: 0;
    padding: 0;
}
html,body{
    min-height: 100vh;
}
header{
    border: 1px solid black;
    background-color: aqua;
}
.container{
    display: flex;
    align-items: center;
    gap: 20px;
}
header img{
    display:inline-block;
    border-radius: 50%;
    max-width: 30vw;
   
    
}
header h1{
    text-align: right;
    font-size: 7vw;
    font-variant: small-caps;
     font-family: "Charm", cursive;
     font-weight: bold;
    

}
header p{
    text-align: right;
    font-size: 4vw;
    font-family: "Teko", sans-serif;
    
}
.inicio{
    background-color: rgb(21, 193, 33);
    padding-top: 6vh;
    padding-bottom: 6vh;
}
.mim{
   
    width: 200px;
    background-color: aquamarine;
    padding: 10px 20px 10px 20px;
    line-height: 2em;
    border-radius: 0 50px  10px 50px ;
}
.mim h1{
     font-family: "Goldman", sans-serif;
     font-size: 1.5em;
     font-weight: normal;
}
.mim p{
    margin: 50px 0;
     font-family: "Ms Madi", cursive;
     font-size: 1.5em;
     font-weight: bold;
    
}
.trabalho{
    background-color: blueviolet;
}
.carrossel{
    display: flex;
    gap: 10px;
    align-items: center;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    max-width: 70%;
    margin: 0 auto;
    padding-bottom: 50px;
   
}
.carrossel img{
    height: 40vh;
    flex: 0 0 100%;
    scroll-snap-align: center;
    border-radius: 15px;
    object-fit: cover;
    
}
.centralizar{
        text-align: center;
    }
.space{
    width: 80vw;
    margin: 10px 0;
    font-size: 1.3em;
    margin-left: 30px;
    background-image: linear-gradient(to right, red, transparent);
    padding: 3px 3px 3px 10px;
    border-radius: 15px 0 15px 0;
    font-family: "Goldman", sans-serif;
    
}
.espaco{
    font-family: "Goldman", sans-serif;
    background-color: brown;
    padding: 10px;
    text-align: center;
    position: sticky;
    top: 0;
}
.menu nav>a{
    display: inline-block;
    text-decoration: none;
    background-color: lightseagreen;
    padding: 15px;
    border-radius: 10px;
    margin: auto 10px;
    animation: pulsar 3s linear infinite;
    font-family: "Goldman", sans-serif;
}
.menu nav{
    background-color: aqua;
    position: sticky;
    top: 0;
    padding: 20px;
}
@keyframes pulsar{
    0%{ transform: scale(1);}
    50%{ transform: scale(1.1);}
    100%{ transform: scale(1);}
}

.paralax p{
    padding-top: 8vh;
    padding-bottom: 7vh;
    display: block;  
    width: 200px;
    margin: 20px;
    font-size: 1.5em;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    line-height: 2em;
    font-family: "Beau Rivage", cursive;
    
    letter-spacing: 3px;
    
    
}
.foto p{
    color: white;
    background-color: rgba(35, 35, 35, 0.321);
}


.foto{
    background-image: url("../image/jadna2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border-radius: 15px;
}
